# Flash Circular Buffer module

# Copyright (c) 2017 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

#
# Flash Circular Buffer
#

config FCB
	bool "Flash Circular Buffer support"
	depends on FLASH_MAP
	help
	  Enable support of Flash Circular Buffer.

if FCB

config FCB_MAX_ALIGN
	int "Maximum supported write-block alignment"
	default 8
	help
	  Specify the maximum write-block alignment, in bytes, that is
	  supported by the Flash Circular Buffer implementation. Accessing
	  through the Flash Circular Buffer subsystem a flash memory with larger
	  alignment requirement will not be possible.

endif
